root = true

[*.cs]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none
