[*.cs]

# MA0039: Do not write your own certificate validation method
dotnet_diagnostic.MA0039.severity = suggestion

# MA0032: Use a cancellation token
dotnet_diagnostic.MA0032.severity = suggestion

# MA0011: IFormatProvider is missing
dotnet_diagnostic.MA0011.severity = none

# MA0048: File name must match type name
dotnet_diagnostic.MA0048.severity = none

# MA0009: Add timeout parameter
dotnet_diagnostic.MA0009.severity = none

# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none

# MA0008: Add StructLayoutAttribute
dotnet_diagnostic.MA0008.severity = none

# RCS1018: Add accessibility modifiers.
dotnet_diagnostic.RCS1018.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# Default severity for analyzer diagnostics with category 'Roslynator'
dotnet_analyzer_diagnostic.category-Roslynator.severity = none
